// --------------------------------------------------
// Ionic Variables and Theming.
// --------------------------------------------------

// Font path
$font-path: "../assets/fonts";

// The app direction
$app-direction: ltr;

@import "ionic.globals";

// Shared/Override Variables
// --------------------------------------------------

// Named Color Variables
// --------------------------------------------------

$colors: (
  primary: #576fa9,
  secondary: #576fa9,
  valid: #2ecc71,
  danger: #e74c3c,
  warning: #f39c12,
  light: #d2daf2,
  dark: #25447a,
  light-grey: #f4f4f4,
  grey: #bdc3c7,
  white: #ffffff,
);

// App iOS Variables
// --------------------------------------------------

// App Material Design Variables
// --------------------------------------------------

// App Windows Variables
// --------------------------------------------------

// App Theme
// --------------------------------------------------

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
