// --------------------------------------------------
// Ionic Variables and Theming.
// --------------------------------------------------

// Font path
$font-path: "../assets/fonts";

// The app direction
$app-direction: ltr;

@import "ionic.globals";

// Shared/Override Variables
// --------------------------------------------------

// Named Color Variables
// --------------------------------------------------

$colors: (
  primary: #576fa9,
  secondary: #32db64,
  danger: #ba5c88,
  light: #f4f4f4,
  dark: #212121,
  white: #ffffff,
);

// App iOS Variables
// --------------------------------------------------


// App Material Design Variables
// --------------------------------------------------

// App Windows Variables
// --------------------------------------------------

// App Theme
// --------------------------------------------------

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
