<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'HISTORY_PAGE.TITLE' | translate}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 text-justify>
        {{'HISTORY_PAGE.DESCRIPTION' | translate}}
      </ion-col>
    </ion-row>
    <ion-row margin-top *ngIf="!isResults">
      <ion-col col-12 text-center>
        <span ion-text color="grey">
          <ion-icon name="information-circle"></ion-icon>&nbsp;
          {{'HISTORY_PAGE.NO_RESULTS' | translate}}
        </span>
      </ion-col>
    </ion-row>
    <ion-row margin-top *ngIf="isResults">
      <ion-col col-12 *ngFor="let result of results" class="card-margin-bottom">
        <ion-card no-margin style="width: 100% !important;">
          <ion-card-content class="background-primary">
            <ion-grid no-padding>
              <ion-row>
                <ion-col col-12 text-center>
                  <h1 class="text-big">
                    {{roundResult(result.data.TMax)}}<small>°C</small>
                  </h1>
                </ion-col>
                <ion-col col-12 text-center no-padding>
                  {{showCorrectDate(result.currentTime)}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
          <ion-row align-items-center>
            <ion-col col-6 text-center>
              <button ion-button icon-left clear small (click)="copyResults()">
                <ion-icon name="copy"></ion-icon>
                <div>{{'GENERAL.COPY' | translate}}</div>
              </button>
            </ion-col>
            <ion-col col-6 text-center>
              <button ion-button icon-left clear small (click)="pushToResultPage(result)">
                <ion-icon name="more"></ion-icon>
                <div>{{'GENERAL.DETAILS' | translate}}</div>
              </button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row margin-top class="text-grey">
      <ion-col col-12 text-center *ngIf="isResults">
        <span text-uppercase ion-text color="primary" (click)="resetLocalStorage()">
        <ion-icon name="trash"></ion-icon>&nbsp;{{'HISTORY_PAGE.CLEAR' | translate}}
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
