// --------------------------------------------------
// App Global Sass
// --------------------------------------------------

// 1. GENERAL
// --------------------------------------------------

.drawer {
  background: map_get($colors, primary);
  color: map_get($colors, white) !important;
}

.background-lite {
  background: map_get($colors, light);
}

.drawer-item-highlighted {
  font-weight: 700 !important;
  color: map_get($colors, light) !important;
}

.no-padding {
  padding: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  margin: 0 !important;
}

input[type=number] {
  -moz-appearance: textfield;
}

.drawer-logo {
  background-color: map_get($colors, light) !important;
  padding: 8px;
}

.drawer-header {
  padding: 16px;
}

.drawer-flag {
  height: 1.2rem !important;
  width: auto;
  display: inline-block !important;
  margin-right: 8px;
}

// 2. HOME PAGE
// --------------------------------------------------

.mini-logo {
  height: 48px !important;
  width: auto;
  display: inline-block !important;
}

// 3. METHOD PAGE
// --------------------------------------------------

.formulae {
  font-size: 75% !important;
}

// 3. HISTORY PAGE
// --------------------------------------------------

.copy-button {
  display: inline-block !important;
  float: right;
}

// 3. CALCULATOR PAGE
// --------------------------------------------------

.displayed-section {
  display: inherit !important;
}
.undisplayed-section {
  display: none !important;
}
